.card{    
  /* align-self: stretch; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 384px;
  margin: 1.5rem 0.8rem;
  padding: 1.7rem 1rem;
  background: linear-gradient(180deg,#11181f,rgba(17,24,31,0));
  border-radius: 16px
}

.card-title{
  color: white;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}

.mainBody{
  background-color: black;
}

.mainBody h2{
  color: white;
  font-size: 3rem;
}